* {box-sizing: border-box;}
body { 
	background-color: #5280C5;
	background-image: url(gradientblue.jpg);
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	}
header {
	background-color: #000066;
	background-image: url(bigfish.gif);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #F0F0F0;
}
h1 {
	line-height: 250%;
	font-size: 3em;
	padding: 0.2em;
	text-indent: 1em;
	text-shadow: 2px 2px 3px #CCCCCC;
	margin-bottom: 0;
}
nav {
	font-weight: bold;
	padding: 5px;
	float: left;
	width: 180px;
}
nav ul {
	list-style: none;
}
nav a{
	text-decoration: none;
}
nav a:link{
	color:#000066;
}
nav a:visited{
	color: #5280C5;
}
nav a:hover {
	color: #3262A3;
}
main {
	margin-left: 180px;
	padding-left: 2em;
	padding-right: 2em;
	background-color: white;
	border: 1px solid #AEC3E3;
}
dt {
	color: #5280C5;
	font-size: 1.1em;
	font-weight: bold;
	font-family: Georgia, Times New Roman, serif;
}
.category {
	font-weight: bold;
	color: #5380C5;
	font-family: Georgia, Times New Roman, serif;
	text-shadow: 1px 1px 1px #667;
}
footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
	background-color: #AEC3E3;
	padding: 1em;
	margin-left: 180px;
}
#wrapper {
	min-width: 700px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #F0F0F0;
}
img {
	border: none;
}
main {
	left-padding: 10px;
	right-padding: 10px;
}
